.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 45px;
    height: 45px;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}


.burger-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1rem;
}

.navbar a:hover,
.navbar a.active {
    color: #007bff;
}

.connect-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.1s;
}

.connect-button:hover {
    background-color: #007bff;
}

.connect-button:active {
    transform: translateY(1px);
}


@media (max-width: 768px) {

    .header {
        padding: 15px 20px;
    }

    .burger-icon {
        display: block;
        z-index: 1001;
        cursor: pointer;
    }

    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        z-index: 999;

    }


    .navbar.active {
        transform: translateY(0);
    }

    .navbar ul {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .navbar a {
        font-size: 1.8rem;
    }

    .connect-button {
        font-size: 1.2rem;
        padding: 12px 30px;
    }
}